{
  "extends": ["preact", "airbnb-typescript/base"],
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/extensions": "off"
  },
  "env": {
    "browser": true
  }
}
